# Ignore Unreal Engine files
*.vs
*.vscode
.idea/

# User-specific configuration
*.user
*.userprefs

# Build Directories
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Backup files
*.bak

# Crash dumps
*.dmp

# Logs
*.log

# Compiled source code
*.obj
*.exe
*.dll
*.lib
*.pdb
*.app

# Unreal Engine related
*.xcodeproj
*.xcworkspace
*.suo
*.user

# Ignore specific engine files
